// resets, variables, mixins, utylity classes

// grid columns defined by % - distance between px
// font-family: SF PRO / Open Sans

// Add a script to remove a question by clicking on the bin icon on its action bar. You don't have to worry about an "add" button or
// saving the state (it can go back to the hard-coded state when refreshed).
// Add a script to increase improvements questions' (the boxes on the dark background) upvote and downvote count upon clicking
// the corresponding icon. Once again, you don't need to worry about saving the state. 
// images as SVG

// SF PRO FONT

@font-face {
  font-family: "SF Pro Display";
  src: url('/font/TrueType/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('/font/TrueType/SFProText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('/font/TrueType/SFProText-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

// VARIABLES

$headerColor: #465def;
$white: #ffffff;
$whiteOpacity: rgba(255, 255, 255, 0.12);

// MIXINS

@mixin flex-display($direct, $justify, $align) {
  display: flex;
  flex-direction: $direct;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// RESET

html {
  font-size: 62.5%;

  @media(max-width: 480px) {
    font-size: 52%;
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "SF Pro Display", sans-serif;
  cursor: default;
}

.container {
  max-width: 1536px;
  margin: 0 auto;
}

ul {
  margin: 0;
}

li {
  list-style: none;
  cursor: pointer;
}

h3 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
}

span.red {
  color: #fb726f;
}

.orange {
  color: #f8a86b
}