// handlers the layout: containers

.header{
  padding: 10px 25px 10px 30px;
  background-color: $headerColor;
  color: $white;
  font-size: 1.5rem;

  &__container{
    @include flex-row;
  }

  &__l-menu{
    @include flex-row;
  }

  &__r-menu{
    @include flex-row;
    height: 100%;
  }
}

// SECTION

#section1{
  background-color: #e6ebf1;
}

#section2{
  background-color: #1c2237;
}

.section{
  padding: 28px 22px 60px 30px;

  &__body{
    @include flex-display(row, space-between, flex-start);
    flex: wrap;
    margin-top: 35px;
  }

  &__box{
    width: 32%;
    padding-top: 20px;
    border-radius: 4px;
    background-color: #fff; 
  }

  &__row-question{
    @include flex-display(row, flex-start, center);
    min-height: 55px;
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid #e6ebf1;
  }

  &__row-answer{
    padding: 20px 10px;
    background-color: #f6f9fc;
    border-bottom: 1px solid #e6ebf1;

  }

  &__answer-view{
    position: relative;
    @include flex-display(row, center, center);
    width: 100%;
  }

  &__row-foot{
    @include flex-row;
    padding: 12px 20px;
    color: #838eab;
  }
}

